App_WebReferences/VR_pagedatafeed/pageDataFeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/VillarentersWebService/pageDataFeed" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/VillarentersWebService/pageDataFeed" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/VillarentersWebService/pageDataFeed">
      <s:element name="fetchHeaderData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchHeaderDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fetchHeaderDataResult" type="tns:headerData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="headerData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pageTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pageDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pageKeywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pageBody" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="fetchLinkData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LinkRight" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchLinkDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fetchLinkDataResult" type="tns:navigationRows" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="navigationRows">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="navigationRows" type="tns:ArrayOfNavigationItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNavigationItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="navigationItem" type="tns:navigationItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="navigationItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="linkUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="linkName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="fetchLinkSectionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sectionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchLinkSectionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fetchLinkSectionDataResult" type="tns:navigationRows" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="headerData" type="tns:headerData" />
      <s:element name="navigationRows" type="tns:navigationRows" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fetchHeaderDataSoapIn">
    <wsdl:part name="parameters" element="tns:fetchHeaderData" />
  </wsdl:message>
  <wsdl:message name="fetchHeaderDataSoapOut">
    <wsdl:part name="parameters" element="tns:fetchHeaderDataResponse" />
  </wsdl:message>
  <wsdl:message name="fetchLinkDataSoapIn">
    <wsdl:part name="parameters" element="tns:fetchLinkData" />
  </wsdl:message>
  <wsdl:message name="fetchLinkDataSoapOut">
    <wsdl:part name="parameters" element="tns:fetchLinkDataResponse" />
  </wsdl:message>
  <wsdl:message name="fetchLinkSectionDataSoapIn">
    <wsdl:part name="parameters" element="tns:fetchLinkSectionData" />
  </wsdl:message>
  <wsdl:message name="fetchLinkSectionDataSoapOut">
    <wsdl:part name="parameters" element="tns:fetchLinkSectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="fetchHeaderDataHttpGetIn">
    <wsdl:part name="pageID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="fetchHeaderDataHttpGetOut">
    <wsdl:part name="Body" element="tns:headerData" />
  </wsdl:message>
  <wsdl:message name="fetchLinkDataHttpGetIn">
    <wsdl:part name="pageID" type="s:string" />
    <wsdl:part name="LinkRight" type="s:string" />
  </wsdl:message>
  <wsdl:message name="fetchLinkDataHttpGetOut">
    <wsdl:part name="Body" element="tns:navigationRows" />
  </wsdl:message>
  <wsdl:message name="fetchLinkSectionDataHttpGetIn">
    <wsdl:part name="pageID" type="s:string" />
    <wsdl:part name="sectionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="fetchLinkSectionDataHttpGetOut">
    <wsdl:part name="Body" element="tns:navigationRows" />
  </wsdl:message>
  <wsdl:portType name="pageDataFeedSoap">
    <wsdl:operation name="fetchHeaderData">
      <wsdl:input message="tns:fetchHeaderDataSoapIn" />
      <wsdl:output message="tns:fetchHeaderDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fetchLinkData">
      <wsdl:input message="tns:fetchLinkDataSoapIn" />
      <wsdl:output message="tns:fetchLinkDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fetchLinkSectionData">
      <wsdl:input message="tns:fetchLinkSectionDataSoapIn" />
      <wsdl:output message="tns:fetchLinkSectionDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="pageDataFeedHttpGet">
    <wsdl:operation name="fetchHeaderData">
      <wsdl:input message="tns:fetchHeaderDataHttpGetIn" />
      <wsdl:output message="tns:fetchHeaderDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="fetchLinkData">
      <wsdl:input message="tns:fetchLinkDataHttpGetIn" />
      <wsdl:output message="tns:fetchLinkDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="fetchLinkSectionData">
      <wsdl:input message="tns:fetchLinkSectionDataHttpGetIn" />
      <wsdl:output message="tns:fetchLinkSectionDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pageDataFeedSoap" type="tns:pageDataFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fetchHeaderData">
      <soap:operation soapAction="http://tempuri.org/VillarentersWebService/pageDataFeed/fetchHeaderData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchLinkData">
      <soap:operation soapAction="http://tempuri.org/VillarentersWebService/pageDataFeed/fetchLinkData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchLinkSectionData">
      <soap:operation soapAction="http://tempuri.org/VillarentersWebService/pageDataFeed/fetchLinkSectionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="pageDataFeedSoap12" type="tns:pageDataFeedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fetchHeaderData">
      <soap12:operation soapAction="http://tempuri.org/VillarentersWebService/pageDataFeed/fetchHeaderData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchLinkData">
      <soap12:operation soapAction="http://tempuri.org/VillarentersWebService/pageDataFeed/fetchLinkData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchLinkSectionData">
      <soap12:operation soapAction="http://tempuri.org/VillarentersWebService/pageDataFeed/fetchLinkSectionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="pageDataFeedHttpGet" type="tns:pageDataFeedHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="fetchHeaderData">
      <http:operation location="/fetchHeaderData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchLinkData">
      <http:operation location="/fetchLinkData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchLinkSectionData">
      <http:operation location="/fetchLinkSectionData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pageDataFeed">
    <wsdl:port name="pageDataFeedSoap" binding="tns:pageDataFeedSoap">
      <soap:address location="http://www.villarenters.com/VillarentersWebService/pageDataFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="pageDataFeedSoap12" binding="tns:pageDataFeedSoap12">
      <soap12:address location="http://www.villarenters.com/VillarentersWebService/pageDataFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="pageDataFeedHttpGet" binding="tns:pageDataFeedHttpGet">
      <http:address location="http://www.villarenters.com/VillarentersWebService/pageDataFeed.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>